.header{
    grid-column: 1/4;  
  }
  .menu{
      grid-column: 1/2;
  }
  .body{
      grid-column: 2/4;
  }
  .footer{
      grid-column: 1/4;
  }
  @media(max-width:480px){
    .grid{
        grid-template-rows: 20vh 10vh 60vh 10vh;  
        
      }
      .menu{
        grid-column: 1/4;
        grid-row: 2/3;
    }
    .body{
        grid-column: 1/4;
        grid-row: 3/4;
    }
  }